* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-description-top{
  height: 42vh;
  background-image: url(../images/background-images/partners.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  opacity: 0.5;
}

.background-overlay-about-us{
  height: 42vh;
  background-color: black;
}

.about-us-heading{
  z-index: 3;
  position: absolute;
  top: 35%;
  left: 15%;
  color: white;
  font-size: 3.2em;
}

.about-us-heading::after{
  content: "";
  height: 2px;
  width: 50%;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #28baba;
}

.partners-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners-heading h1{
  margin-top: 3%;
  font-size: 4em;
  font-weight: 800;
  margin-bottom: 1.3%;
}

.partners-heading span{
  color: #28baba;
}

.partners-heading p{
 font-family: "Roboto Slab", sans-serif;
 color: rgb(67, 66, 66);
 font-size: 1.1em;
}

