* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-description-top{
  height: 42vh;
  background-image: url(../images/background-images/partners.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  opacity: 0.5;
}

.background-overlay-about-us{
  height: 42vh;
  background-color: black;
}

.about-us-heading{
  z-index: 3;
  position: absolute;
  top: 35%;
  left: 15%;
  color: white;
  font-size: 3.2em;
}

.about-us-heading::after{
  content: "";
  height: 2px;
  width: 50%;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #28baba;
}

.partners-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners-heading h1{
  margin-top: 3%;
  font-size: 4em;
  font-weight: 800;
  margin-bottom: 1.3%;
}

.partners-heading span{
  color: #28baba;
}

.partners-heading p{
 font-family: "Roboto Slab", sans-serif;
 color: rgb(67, 66, 66);
 font-size: 1.1em;
}

/* Turn the image into a 150px circle */

.partners-grid-container img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 2%;
}

/* Turn the container into a grid of 5 equal columns and 9 equal rows with a 20px gap n between */
/* centre the text below the image */
/* centre the image */
.partners-grid-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 20px;
  margin: 5% 10%;
  justify-items: center;
}

.partners-grid-container img{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  object-fit: cover;
}


.image-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  object-fit: cover;
}

/* contact us form page has a left and right padding of 10% and it spands the remaining space. It's flex directio is column */

/* The form has a width of 100% and a height of 100% of the parent container */
/* The form has a left and right padding of 10% and it spands the remaining space. It's flex directio is column */

.contact-us-input-container{
  width: 100vw;
  height: 80vh;
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 5%;
}

.contact-us-input-container form{
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* input button has no border, background colour is light grey and the height is 100px */

.contact-us-input-container button{
  border: none;
  background-color: #28baba;
  height: 60px;
  color: white;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  margin-top: 40px;
}

/* input field is the same height as the button, but has a background color of light grey */

.contact-us-input-container input{
  height: 60px;
  background-color: #f2f2f2;
  border: none;
  font-size: 1em;
  padding-left: 10px;
}

/* 20px margin about the label element */

.contact-us-input-container label{
  margin-top: 30px;
  font-size: 1em;
  margin-bottom: 10px;
}