body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  height: 500vh;
}

a{
  text-decoration: none;
  color: black;
}

.nav-bar{
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  column-gap: 8%;
}

.nav-bar img{
  height: 70%;
}

.nav-links{
  display: flex;
  column-gap: 8%;
  width: 40%;
  cursor: pointer;
}




.nav-links a:hover{
  color: #28baba;
}

.nav-bar button{
  cursor: pointer;
  padding: 0.8% 2.1%;
  font-weight: 600;
  border-style: none;
  background-color: #28baba;
  color: white;
  font-size: 17px;
  transition: all 1s ease;
}

.nav-bar button:hover{
  background-color: #226d6d;
}

.typing-text-container{
  font-weight: 800;
  height: 35vh;
  width: 98vw;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  font-size: 80px;
}

#first-typing-text{
  white-space: nowrap;
  position: absolute;
  left: 14%;
  top: 50%;
  
}


#first-typing-text::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #E9EFEF;
  position: absolute;
  border-left: 20px solid black;
  animation: typing 4s steps(20) infinite;
} 



.typing-div{
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.background-first-overlay{
  height: 100vh;
  background-color: #E9EFEF;
}

.scroll-down{
  width: 100vw;
  height: 10vh;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 110%;
  position: relative;
  top: 30%;
}

.scroll-down p{
  font-size: 115%;
  margin: 0;
  padding: 0;
}

.what-we-do-container{
  height: 70vh;
  flex-direction: column;
  padding: 3.5% 14% 2.3% 14%;
  background-color: rgb(157, 158, 158);
  align-items: center;
}

.what-we-do-heading{
  font-size: 210%;
  margin: 0;
}

.what-we-do-heading h1{
  margin: 0 0 2% 0;
}

.what-we-do h1{
  font-size: 1.7em;
  margin: 0 0 3% 0;
  font-weight: 800;
  line-height: 120%;
  margin-top: 5%;
}

.what-we-do p{
  margin-top: 14%;
  font-family: "Roboto Slab", sans-serif;
}

.what-we-do-heading span{
  color: #28baba;
}

.what-we-do-grid-container{
  background-color: black;
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  
}

.what-we-do{
  background-color: #E9EFEF;
  padding: 10%;
  border-top: 3.5px solid #28baba;
  display: grid;
  grid-column: auto;
  grid-row: 100px 200px 200px;
  
}

.page-svg{
  stroke: #28baba;
  width: 50px;
  padding: 5%;
  animation: skew 3s ease-out infinite;
}


#page-flap{
  fill: #28baba;
  stroke: none !important;
}

#in-line1{
  stroke-dashoffset: 100%;
  stroke-dasharray: 100%;
  animation: linefill1 3s ease-out infinite;
}

#in-line2{
  stroke-dashoffset: 100%;
  stroke-dasharray: 100%;
  animation: linefill2 3s ease-out infinite;
}

#in-line3{
  stroke-dashoffset: 100%;
  stroke-dasharray: 100%;
  animation: linefill3 3s ease-out infinite;
}

#in-line4{
  stroke-dashoffset: 100%;
  stroke-dasharray: 100%;
  animation: linefill4 3s ease-out infinite;
}

#in-line5{
  stroke-dashoffset: 100%;
  stroke-dasharray: 100%;
  animation: linefill5 3s ease-out infinite;
}

.laptop-svg{
  width: 100px;
  height: 90px;
  grid-area: 1 / 1 / 1 / 1;
}

.stock-laptop-line{
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  animation: stockline 3s linear infinite;
}

.bar-graph{
  width: 65px;
  height: 65px;
  grid-area: 1 /1 /1 /1;
  padding: 5%;
}

#bar-1{
  stroke-dasharray: 100%;
  stroke-dashoffset: 90%;
  animation: bargraph 4s linear infinite;
}

#bar-2{
  stroke-dasharray: 100%;
  stroke-dashoffset: 80%;
  animation: bargraph2 4s linear infinite;
}

#bar-3{
  stroke-dasharray: 100%;
  stroke-dashoffset: 70%;
  animation: bargraph3 4s linear infinite;
}




